.esh-header {
    background-color: #84C2C2;
    height: 4rem;
}

.esh-header-back {
    color: rgba(255, 255, 255, 0.5) !important;
    line-height: 4rem;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 0.95s;
}

    .esh-header-back:hover {
        color: #84C2C2 !important;
        transition: color 0.95s;
    }
